.bottom {
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.right-selector {
    text-align: center;
}
.left-selector{
    text-align: center;
}
input#background {
    height: 30vh;
    width: 50%;
    margin-top: 2vh;
    color: transparent;
    border: transparent;
    background-color: transparent;
}
input#qrCode{
    height: 30vh;
    width: 50%;
    margin-top: 2vh;
    color: transparent;
    border: transparent;
    background-color: transparent;
}

/* The switch - the box around the slider */
.switch {
    margin-top: 1vh;
    position: relative;
    display: inline-block;
    width: 4vw;
    height: 3.4vh;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #88888875;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 2.6vh;
    width: 2.6vh;
    left: 4px;
    bottom: 4px;
    background-color: #191b1e;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #d9dab2;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #d9dab2;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(2vw);
    -ms-transform: translateX(2vw);
    transform: translateX(2vw);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
