
    <div class="bottom">
    <div class="right-selector">
        <label for="background">background Color</label><br>
        <div id="bgcolorhighlight" class="hide-color-selector"></div>
        <input type="color" name="bgcolor" id="background" value="#e66465">
       
        <div class="mode-switch">
            <label for="transparentbg">transparent</label><br>
             <label class="switch">
                <input id="bgswitch" type="checkbox" name="transparentbg" value="unchecked" onclick="validate(0);">
                <span class="slider round"></span>
             </label>
        </div>
    </div>
    
    <div class="left-selector">
        <label for="qrCode">Qr Code Color</label><br>
        <div id="qrcolorhighlight" class="hide-color-selector"></div>
        <input type="color" name="qrcolor" id="qrCode" value="#f6b73c">
        <div class="mode-switch">
            <label for="transparentqr">transparent</label><br>
             <label class="switch">
                <input id="qrswitch" type="checkbox" name="transparentqr" value="unchecked" onclick="validate(1);">
                <span class="slider round"></span>
             </label>
        </div>
    </div>
    </div>