.footer{
    background-color: #d9dab2;
    color: #191b1e;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-left: 5vw;
    padding-right: 5vw;
    position: fixed;
    width: 90vw;
    bottom: 0;
}
.footer span{
    font-size: 1.8vh;
    padding-top: 1vh;
    padding-bottom:1vh;
}